<div class="ae-grid au-xs-ta-center au-mb-12 animated fadeIn">

  <div class="ae-grid__item item-lg-4 ae-kappa au-mb-3"><img style="margin-left:10px; padding:10px;" src="{{_is.sobreMi.foto}}" alt="Karla Perez Flores" class="au-mb-3" >
    <h5 class="ae-u-bolder au-mt-2">{{_is.sobreMi.nombre}}</h5>
    <p class="ae-u-bolder au-mb-3">{{_is.sobreMi.ocupacion}}</p>
    <p class="ae-u-bolder au-mb-3">{{_is.sobreMi.institucion}}</p>
    <p class="au-lg-ta-left au-mb-3 au-pl-4 au-pr-4">{{_is.sobreMi.resumen}}</p><a [href]="_is.sobreMi.url" taget="_blank" class="ae-u-bolder au-underline">@{{_is.sobreMi.nomInsta}}</a>

  </div>

  <div class="ae-grid__item item-lg-8 ">
      <h4 class="ae-u-bolder">{{_is.sobreMi.titulo}}</h4>
      <p>{{_is.sobreMi.parrafo1}}</p>
      <p>{{_is.sobreMi.parrafo2}}</p>

    </div>

</div>

